
data/corpus/0.txt

data/corpus/1.txt

data/corpus/2.txt

data/corpus/3.txt

data/corpus/4.txt

data/corpus/5.txt

data/corpus/6.txt

data/corpus/7.txt

data/corpus/8.txt

data/corpus/9.txt

data/dev_set/gold.txt

data/dev_set/google.txt

data/dev_set/queries.txt

data/training_set/edit1s.txt
